html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --text1: black;
}

[theme-selector="dark"] {
  --background: #303030;
  --text1: white;
}

[theme-selector="light"] {
  --primary: white;
  --text1: black;
}

/* @media (prefers-color-scheme: light) { */
html {
  color-scheme: light;
}
body {
  color: var(--text1);
  background: var(--background);
}
/* } */
